<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>FrontEnders &trade;</title>
  <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon" />
  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/headers/" />
  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/pricing/" />
  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/features/" />
  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/heroes/" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <!-- Bootstrap core CSS -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <!-- Custom styles for this template -->
  <link href="../assets/css/headers.css" rel="stylesheet" />
  <link href="../assets/css/heroes.css" rel="stylesheet" />
</head>
<!---->

<body>
  <!-- Barra de navegação -->
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-auto">
      <a href="../index.html" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <!--         <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-code-slash"
                    viewBox="0 0 16 16">
                    <path
                      d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z" />
                  </svg> -->
        <b><span class="bg-primary text-white logo">
            < Front </span>
              <span class="text-primary bg-white logo">Enders / ></span>
              &trade;</b></a>

      <ul class="nav col-10 col-md-auto mb-2 justify-content-center mb-md-0">
        <li>
          <a href="./planos.html" class="nav-link px-2 link-dark">Serviço</a>
        </li>
        <li>
          <a href="./lista.html" class="nav-link px-2 link-dark">Lista</a>
        </li>
        <li>
          <a href="./equipe.html" class="nav-link px-2 link-dark">Desenvolvedores</a>
        </li>
      </ul>

      <div class="col-md-3 text-end">
        <a href="./login.html"><button type="button" class="btn btn-outline-primary me-2">
            Login
          </button></a>
        <!--<a href="cadastro.html"><button type="button" class="btn btn-primary">Cadastro</button></a>-->
      </div>
    </header>
  </div>
  <!-- Barra de navegação -->
  <!--Título equipe-->
  <div class="container py-5">
    <div class="row text-center">
      <div class="col-lg-8 mx-auto">
        <h1 class="display-4">
          Nossa equipe de
          <strong class="text-primary">desenvolvedores</strong>
        </h1>
        <p class="lead mb-0">
          Estes são os programadores por trás da ferramenta. Todos foram
          alunos do programa
          <strong class="text-primary">Programadores Cariocas</strong>, uma
          parceria entre a Prefeitura do Estado do Rio de Janeiro, a EdTech
          <strong class="text-primary">Resilia</strong> e o
          <strong class="text-primary">SENAC</strong>
        </p>
      </div>
    </div>
  </div>
  <!--Membro da equipe-->
  <div class="container">
    <div class="row text-center">

      <!--Membro da equipe Tiago PESSOA CO FACILITADORA-->
      <div class="col-xl-4 col-sm-6 mb-5"  data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500">
        <div id="imagem" class="rounded shadow-sm py-5 px-4">
          <img src="../assets/img/Tiago.jpg" alt="" width="250"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" />
          <h5 class="mb-0">Tiago</h5>
          <span class="small text-uppercase">Co-Facilitador</span><br>
          <span class="small text-uppercase">Dev back-end</span>

          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="https://github.com/Tiago-S-Oliveira" class="social-link bg-white"><i
                  class="fa fa-github"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/tiagosantosoliveira97/" class="social-link bg-white"><i
                  class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!--Membro da equipe-->

      <!--Membro da equipe Maycon GESTOR DE CONHECIMENTO-->
      <div class="col-xl-4 col-sm-6 mb-5"  data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500">
        <div id="imagem" class="rounded shadow-sm py-5 px-4">
          <img src="../assets/img/Maycon.jpg" alt="" width="250"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" />
          <h5 class="mb-0">Maycon</h5>
          <span class="small text-uppercase">Gestor de Conhecimento</span><br>
          <span class="small text-uppercase">Dev front-end</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="https://github.com/dualsgo" class="social-link bg-white"><i class="fa fa-github"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/mdbsilva/" class="social-link bg-white"><i
                  class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!--Membro da equipe-->

      <!--Membro da equipe Indiane GESTORA DE GENTE E ENGAJAMENTO-->
      <div class="col-xl-4 col-sm-6 mb-5"  data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500">
        <div id="imagem" class="rounded shadow-sm py-5 px-4">
          <img src="../assets/img/Indiane.jpg" alt="" width="250"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" />
          <h5 class="mb-0">Indiane</h5>
          <span class="small text-uppercase">Gestora de Gente</span><br>
          <span class="small text-uppercase">Dev front-end</span>

          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="https://github.com/indyllopes" class="social-link bg-white"><i class="fa fa-github"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/indiane-lopes-da-silva-matos-5a5370218/"
                class="social-link bg-white"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!--Membro da equipe-->

      <!--Membro da equipe Isabela COLABORADOR I-->
      <div class="col-xl-4 col-sm-6 mb-5"  data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500">
        <div id="imagem" class="rounded shadow-sm py-5 px-4">
          <img src="../assets/img/Isabela.jpg" alt="" width="250"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" />
          <h5 class="mb-0">Isabela</h5>
          <span class="small text-uppercase">Colaboradora I</span><br>
          <span class="small text-uppercase">Dev back-end</span>

          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="https://github.com/isabelaalvesc/" class="social-link bg-white"><i class="fa fa-github"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/isabela-alves-1ab8951a4/" class="social-link bg-white"><i
                  class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!--Membro da equipe-->

      <!--Membro da equipe David COLABORADOR II-->
      <div class="col-xl-4 col-sm-6 mb-5"  data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500">
        <div id="imagem" class="rounded shadow-sm py-5 px-4">
          <img src="../assets/img/David.jpg" alt="" width="250"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" />
          <h5 class="mb-0">David</h5>
          <span class="small text-uppercase">Colaborador II</span><br>
          <span class="small text-uppercase">Dev back-end</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="https://github.com/davidlgomes" class="social-link bg-white"><i class="fa fa-github"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/davidlopesgomes/" class="social-link bg-white"><i
                  class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!--Membro da equipe-->

      <!--CARD EXTRA-->
      <div class="col-xl-4 col-sm-6 mb-5"  data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500">
        <div id="imagem" class="rounded shadow-sm py-5 px-4">
          <img src="/assets/img/programadores.png" alt="" width="250"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" />
          <h5 class="mb-0">Programadores Cariocas</h5>
          <span class="small text-uppercase">Resilia</span><br>
          <span class="small text-uppercase">Senac/RJ</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/PrefeituradoRio/" class="social-link bg-white"><i
                  class="fa fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/Prefeitura_Rio" class="social-link bg-white"><i
                  class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/prefeitura_rio/" class="social-link bg-white"><i
                  class="fa fa-instagram"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/company/prefeituradorio/" class="social-link bg-white"><i
                  class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!--CARD EXTRA-->

    </div>
  </div>

  <!-- Footer -->
  <footer class="text-center text-lg-start text-dark">
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Nossa empresa
            </h6>
            <p class="text-primary fw-bold">
              Desenvolvemos soluções para todos as necessidades do seu
              negócio.<br />
              Fundada em 2015 na região da zona norte da cidade do Rio de
              Janeiro, a FrontEnders é uma empresa especialista em
              desenvolvimento de sites profíssionais.
            </p>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Tecnologias</h6>
            <p>
              <!--<a href="#!" class="text-reset">HTML5</a>-->
              HTML5
            </p>
            <p>
              <!--<a href="#!" class="text-reset">CSS3</a>-->
              CSS3
            </p>
            <p>
              <!--<a href="#!" class="text-reset">JavaScript</a>-->
              JavaScript
            </p>
            <p>Bootstrap</p>
            <p>API Via Cep</p>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Links úteis</h6>
            <p>
              <a href="./planos.html" class="text-reset">Planos</a>
            </p>
            <p>
              <a href="./lista.html" class="text-reset">Lista de Espera</a>
            </p>
            <p>
              <a href="./equipe.html" class="text-reset">Equipe</a>
            </p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contato</h6>
            <p>Irajá, Rio de Janeiro - RJ</p>
            <p>contato@frontenders.com</p>
            <p>+55 21 99875-4321</p>
          </div>
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="d-flex align-items-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
      <a href="../" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <!--         <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-code-slash"
          viewBox="0 0 16 16">
          <path
            d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z" />
        </svg> -->
        <b><span class="bg-primary text-white logo">
            < Front </span>
              <span class="text-primary bg-white logo">Enders / ></span>
              &trade;</b></a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

  <!---->
  <script src="../assets/js/bootstrap.bundle.min.js" defer></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>